apiVersion: apps/v1
kind: Deployment
metadata:
  name: story-deployment
spec: 
  replicas: 1
  selector:
    matchLabels:
      app: story
  template:
    metadata:
      labels:
        app: story
    spec:
      containers:
        - name: story
          image: dockeridsreekanth/vol-first-app
          ports:
            - containerPort: 3000
          volumeMounts:
            - mountPath: /app/story
              name: story-volume
      # volumes:
      #   - name: story-volume
      #     emptyDir: {}
      # volumes:
      #   - name: story-volume
      #     hostPath:
      #        path: /data/story
      #        type: DirectoryOrCreate
      volumes:
        - name: story-volume
          persistentVolumeClaim:
            claimName: test-pvc